extends ./layout.jade

block vars
	- var nav = 'home'

append style
	style.
		h1 {
			text-align: center;
			margin-bottom: 40px;
		}
		h3 {
			padding-bottom: 5px;
			border-bottom: 1px solid #ddd;
		}

block content

	.modal.fade(id='add', tabindex='-1', role='dialog', aria-labelledby='#addLabel')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') &times;
					h4.modal-title Add a new package
				.modal-body
					p Please supply the GitHub organization and repository of the package.
					form(id='addForm', method='post')
						.form-group
							input#organization.form-control(type='text', name='organization', placeholder='Organization')
						.form-group
							input#repository.form-control(type='text', name='repository', placeholder='Repository')
					.alert.alert-info 
						p The repository must contain premake5-ghp.lua at it's root.
						p Your account must have access to install a hook into the repository.
				.modal-footer
					button.btn.btn-primary(id='addSubmit', type='button', data-dismiss='modal') Ok
					button.btn.btn-default(type='button', data-dismiss='modal') Cancel

	.modal.fade(id='addFailed', tabindex='-1', role='dialog', aria-labelledby='addFailedLabel')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') &times;
					h4.modal-title(id='addFailedLabel') Unable to add package
				.modal-body
					.alert.alert-danger#addFailedMessage
				.modal-footer
					button.btn.btn-default(type='button', data-dismiss='modal') Ok

	.container

		.row
			.col-md-12
				h1 
					a(href='https://github.com/mversluys/premake-ghp') premake-ghp 
					| is a package manager for 
					a(href='https://premake.github.io') premake

		.row
			.col-md-9
				h3 packages used a lot this week
				h3 recently updated packages

			.col-md-3

				.well
					if user
						button(type='button', data-toggle='modal', data-target='#add').btn.btn-default add a new package
					else
						| Would you like to contribute a new package? 
						a(href='/login') Sign in to GitHub.

				.well
					i.fa.fa-archive.fa-2x
					span 0 total packages


				.well
					i.fa.fa-calendar.fa-2x
					span 0 package usage

block script
	script.
		$(function () {
			$('#addSubmit').click(function (e) {
				var package = $('#addForm input#organization').val() + '/' + $('#addForm input#repository').val();
				$.post('/api/add/' + package).done(function(data) {
					window.location.href = '/' + package;
				}).fail(function (data) {
					$('#addFailedMessage').text(data.responseText);
					$('#addFailed').modal();
				});
			});
		});